
.hmi-wgt { 	display: inline-block; position: relative; padding: 0; border: 0; cursor: pointer; text-align: center; overflow: visible; 
			font-family: Tahoma, Verdana, Arial, sans-serif; font-size: 1.1em; color: #fff; } 

