
.hmi-datetime { display: inline-block; position: relative; padding: 0; border: 0; margin: .1em .1em .1em .1em; text-align: left; font-family: Tahoma, Verdana, Arial, sans-serif; font-size: 1.5em;  } 




